body{
  border: 1px solid transparent;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4e/Organ_of_Notre-Dame_de_Paris.jpg");
  background-size: cover;
  background-position: center;
}

#stave{
  width: max-content;
  padding-right: 3px;
  border: 1px solid black;
  border-right: 5px solid black;
}

#messages{
  height: 80px;
  width: 55%;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 30px #000;
  padding: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
}

.from_gregory{
  border-radius: 20px;
  border-start-start-radius: 0px;
}

.from_palestrina{
  border-radius: 20px;
  border-start-end-radius: 0px;
}

#text{
  height: 50px;
}

.error_button{
  background: rgba(0, 0, 0, 0.3);
  width: 100px;
  display: inline-block;
  padding: 5px 20px;
  margin: 0px 20px;
  border-radius: 5px;
}

#prev_error{
  display: none;
}

#discover{
  display: none;
}

#next_error{
  display: none;
}

.line{
  border-top: 1px  solid black;
  margin: 10px -3px 10px 0px;
}

.measure{
  border-right: 1px solid black;
  height: 190px;
  float: left;
}

#measures{
  transform: translate(0px,-100%);
  height: 44px;
  float: left;
}

#clef_box{
  float: left;
}

.violinkey{
  height: 80px;
  transform: translate(0px,-20%);
  display: block;
}

.basskey{
  height: 35px;
  margin: 66px 0 0 8px;
}

.notespace{
  position: relative;
  top: 50%;
  transform: translateY(-106px);
  margin: 0 20px 0 10px;
  float: left;
  width: 25px;
}

.notespace.playing{
  background-color: rgba(0, 0, 255, 0.5);
}

.lineontop{
  border-top: 1px solid black;
}

.lineonbottom{
  border-bottom: 1px solid black;
}

.noline{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.clef_notes{
}

.bass_notes{
}

.lyrics{
  height: 77px; 
}

.arrow_box{
  height: 25px;
}

.interval_box{}

.motion_box{
  transform: translate(30px);
}

.notespot{
  width: 17px;
  height: 11px;
  margin:-5.5px auto;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.notespot.wholenote{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Daman_semibreve.svg/1280px-Daman_semibreve.svg.png");
}

img.wholenote{
  width: 18px;
  transform: translateY(-4.5px);
}

img.sharp{
  transform: translate(-11px, -28px);
  width: 9px;
}

img.wholerest{
  width: 18px;
  transform: translateY(-9px);
}

.notespot.wholerest{
  background-image: url("https://www.trzcacak.rs/myfile/full/215-2155538_whole-rest-png-darkness.png");
}

.notespot.active:hover{
  background-color: rgba(255, 0, 0, 0.5);
}

.container{
  width: min-content;
  background: url("https://img.freepik.com/foto-gratuito/texture-di-carta-vecchia-sfondo-di-carta-pergamena_86638-331.jpg?size=626&ext=jpg");
  padding: 50px 40px;
  margin: 100px auto 100px;
  box-shadow: 0 0 30px #000, 0 0 40px #000, 0 0 50px #000;
}

.settings{
  padding: 5px;
  background-color: grey;
  position: fixed;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0 0 30px #000;
}

.button{
  width:15px;
  height:15px;
  padding: 5px 20px;
  background-color: #666;
  border-radius: 3px;
}

.button.active{
  background-color: red;
}

.character{
  width: 15%;
  display: block;
  position: fixed;
  bottom: -10px;
}

#gregory{
  left: 3%;
}

#palestrina{
  right: 3%;
}

#hide_all{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  display: none;
}

#alert_window{
  width: 40%;
  background: #ccc;
  position: absolute;
  transform: translate(50%, 50%);
  top: 40%;
  right: 50%;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

#alert_text{
  margin-bottom: 30px;
}